body {
  font-size: 1.6rem;
  text-align: justify;
}

h1,h2,h3,h4,h5 {
  text-align: left;
}

.blue-box {
  background-color: #e6f0ff;
  border-radius: 5px;
  padding: 20px;
}

.green-box {
  background-color: #d9ffe9;
  border-radius: 5px;
  padding: 20px;
}

.orange-box {
  background-color: #ffeedf;
  border-radius: 5px;
  padding: 20px;
}
